/* public-sans-regular - latin */
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/public-sans-v14-latin-regular.woff2") format("woff2"), url("../fonts/public-sans-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* public-sans-700 - latin */
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/public-sans-v14-latin-700.woff2") format("woff2"), url("../fonts/public-sans-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* public-sans-900 - latin */
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/public-sans-v14-latin-900.woff2") format("woff2"), url("../fonts/public-sans-v14-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibarra-real-nova-regular - latin */
@font-face {
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/ibarra-real-nova-v20-latin-regular.woff2") format("woff2"), url("../fonts/ibarra-real-nova-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibarra-real-nova-700 - latin */
@font-face {
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/ibarra-real-nova-v20-latin-700.woff2") format("woff2"), url("../fonts/ibarra-real-nova-v20-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-family: "Public Sans";
}

.container {
  margin: 0 auto;
  padding: 20px 165px;
  max-width: 1440px;
}

@media only screen and (max-width: 992px) {
  .container {
    margin: 0 auto;
    padding: 20px 165px;
    max-width: 992px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    margin: 0 auto;
    padding: 20px 10px;
    max-width: 768px;
  }
}
@media only screen and (max-width: 375px) {
  .container {
    margin: 0 auto;
    padding: 20px 10px;
    max-width: 375px;
  }
}
.header {
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 56px;
  width: 100%;
  max-width: 1440px;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 43px;
}

.nav_li-link {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #33323D;
}

.nav_li-link:active {
  color: #5FB4A2;
}

.nav_logo {
  margin-right: 734px;
}

.humburger {
  display: none;
}

@media only screen and (max-width: 992px) {
  .navbar {
    display: flex;
    align-items: center;
    gap: 41px;
  }
  .humburger {
    display: none;
  }
  .nav_li-link {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #33323D;
    height: 300px;
  }
  .nav_li-link:active {
    color: #5FB4A2;
  }
  .nav_logo {
    margin-right: 285px;
  }
}
@media only screen and (max-width: 768px) {
  .navbar {
    display: flex;
    align-items: center;
    gap: 43px;
  }
  .humburger {
    display: none;
  }
  .nav_li-link {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #33323D;
    height: 300px;
  }
  .nav_li-link:active {
    color: #5FB4A2;
  }
  .nav_logo {
    margin-right: 355px;
  }
}
@media only screen and (max-width: 376px) {
  .navbar {
    display: none;
    align-items: center;
    gap: 43px;
  }
  .humburger {
    display: block;
    width: 24px;
    height: 13px;
  }
  .nav_li-link {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #33323D;
    height: 300px;
  }
  .nav_li-link:active {
    color: #5FB4A2;
  }
  .nav_logo {
    margin-right: 263px;
  }
}
.hero {
  background-image: url(/images/hero_img.png);
  background-repeat: no-repeat;
  height: 600px;
}

.hero_p {
  width: 390px;
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.446429px;
  color: #33323D;
}

.hero_btn {
  background: #203A4C;
  width: 200px;
  height: 48px;
  border: none;
}

.hero_btn:hover {
  background: #5FB4A2;
}

.hero_btn:active {
  background: #EAEAEB;
}

.hero_btn-link {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FAFAFA;
  margin-left: 30px;
}

.buttons {
  position: relative;
  top: 55px;
  background: #203A4C;
  width: 200px;
  height: 48px;
  border: none;
  display: flex;
  align-items: center;
}

.hero_p-button {
  background-color: #fff;
  width: 445px;
  height: 360px;
  position: relative;
  top: 240px;
  padding: 56px 0 0 0;
}

.buttons:hover {
  background: #5FB4A2;
}

.buttons:active {
  background: #EAEAEB;
}

@media screen and (max-width: 992px) {
  .hero {
    background-image: url(/images/hero_img.png);
    background-repeat: no-repeat;
    background-size: 788px 600px;
    background-position: center;
    height: 600px;
    width: 658px;
  }
  .hero_p {
    width: 498px;
    font-family: "Ibarra Real Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.446429px;
    color: #33323D;
  }
  .hero_btn {
    background: #203A4C;
    width: 200px;
    height: 48px;
    border: none;
  }
  .hero_btn:hover {
    background: #5FB4A2;
  }
  .hero_btn:active {
    background: #EAEAEB;
  }
  .hero_btn-link {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FAFAFA;
    margin-left: 30px;
  }
  .buttons {
    position: relative;
    top: 55px;
    background: #203A4C;
    width: 200px;
    height: 48px;
    border: none;
    display: flex;
    align-items: center;
  }
  .hero_p-button {
    background-color: #fff;
    width: 514px;
    height: 310px;
    position: relative;
    top: 291px;
    padding: 56px 0 0 0;
  }
  .buttons:hover {
    background: #5FB4A2;
  }
  .buttons:active {
    background: #EAEAEB;
  }
}
@media only screen and (max-width: 768px) {
  .hero {
    background-image: url(/images/hero_img.png);
    background-repeat: no-repeat;
    background-size: 828px 600px;
    background-position: -90px 0px;
    height: 600px;
    width: 738px;
  }
  .hero_p {
    width: 498px;
    font-family: "Ibarra Real Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.446429px;
    color: #33323D;
  }
  .hero_btn {
    background: #203A4C;
    width: 200px;
    height: 48px;
    border: none;
  }
  .hero_btn:hover {
    background: #5FB4A2;
  }
  .hero_btn:active {
    background: #EAEAEB;
  }
  .hero_btn-link {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FAFAFA;
    margin-left: 30px;
  }
  .buttons {
    position: relative;
    top: 55px;
    background: #203A4C;
    width: 200px;
    height: 48px;
    border: none;
    display: flex;
    align-items: center;
  }
  .hero_p-button {
    background-color: #fff;
    width: 514px;
    height: 310px;
    position: relative;
    top: 291px;
    padding: 56px 0 0 0;
  }
  .buttons:hover {
    background: #5FB4A2;
  }
  .buttons:active {
    background: #EAEAEB;
  }
}
@media only screen and (max-width: 376px) {
  .hero {
    background-image: url(/images/intro_res_img.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -20px 0px;
    height: 600px;
    width: 375px;
  }
  .hero_p {
    width: 381px;
    font-family: "Ibarra Real Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.446429px;
    color: #33323D;
  }
  .hero_btn {
    background: #203A4C;
    width: 200px;
    height: 48px;
    border: none;
  }
  .hero_btn:hover {
    background: #5FB4A2;
  }
  .hero_btn:active {
    background: #EAEAEB;
  }
  .hero_btn-link {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FAFAFA;
    margin-left: 30px;
  }
  .buttons {
    position: relative;
    top: 55px;
    background: #203A4C;
    width: 200px;
    height: 48px;
    border: none;
    display: flex;
    align-items: center;
  }
  .hero_p-button {
    background-color: #fff;
    width: 514px;
    height: 310px;
    position: relative;
    top: 291px;
    padding: 56px 0 0 0;
  }
  .buttons:hover {
    background: #5FB4A2;
  }
  .buttons:active {
    background: #EAEAEB;
  }
}
.intro {
  margin-top: 150px;
  display: flex;
}

.line {
  height: 2px;
  background: #33323D;
  mix-blend-mode: normal;
  width: 350px;
  margin-left: 125px;
  display: block;
  opacity: 0.15;
}

.intro_title {
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  margin-left: 125px;
  margin-top: 50px;
  color: #33323D;
}

.intro_p {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-top: 28px;
  margin-left: 125px;
  height: 360px;
  color: #33323D;
  width: 350px;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.intro_btn-link {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #33323D;
}

.intro_btn-link:hover {
  color: #fff;
}

.intro_btn-link:active {
  color: #33323D;
}

.intro_btn {
  background-color: #fff;
  border: 2px solid #203A4C;
  width: 202px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  margin-left: 125px;
}

.line_2 {
  height: 2px;
  background: #33323D;
  mix-blend-mode: normal;
  width: 350px;
  margin-left: 125px;
  display: block;
  opacity: 0.15;
  margin-top: 46px;
}

.intro_btn:hover {
  background-color: #33323D;
}

.intro_btn:active {
  background-color: #fff;
  border: 1px solid #33323D;
}

@media screen and (max-width: 992px) {
  .intro {
    margin-top: 150px;
    display: flex;
  }
  .line {
    height: 1px;
    background: #33323D;
    mix-blend-mode: normal;
    width: 339px;
    margin-left: 39px;
    display: block;
    opacity: 0.15;
  }
  .intro_title {
    font-family: "Ibarra Real Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    margin-left: 39px;
    margin-top: 50px;
    color: #33323D;
  }
  .intro_p {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-top: 28px;
    margin-left: 39px;
    height: 360px;
    color: #33323D;
    width: 339px;
    mix-blend-mode: normal;
    opacity: 0.8;
  }
  .intro_btn-link {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #33323D;
  }
  .intro_btn-link:hover {
    color: #fff;
  }
  .intro_btn-link:active {
    color: #33323D;
  }
  .intro_btn {
    background-color: #fff;
    border: 2px solid #203A4C;
    width: 202px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    margin-left: 39px;
  }
  .line_2 {
    height: 1px;
    background: #33323D;
    mix-blend-mode: normal;
    width: 339px;
    margin-left: 39px;
    display: block;
    opacity: 0.15;
    margin-top: 46px;
  }
  .intro_btn:hover {
    background-color: #33323D;
  }
  .intro_btn:active {
    background-color: #fff;
    border: 1px solid #33323D;
  }
}
@media only screen and (max-width: 376px) {
  .intro {
    margin-top: 150px;
    flex-direction: column;
  }
  .line {
    height: 1px;
    background: #33323D;
    mix-blend-mode: normal;
    width: 339px;
    display: block;
    opacity: 0.15;
    margin-top: 50px;
    margin-left: -1px;
  }
  .intro_title {
    font-family: "Ibarra Real Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    margin-top: 50px;
    color: #33323D;
    margin-left: -1px;
  }
  .intro_p {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-top: 28px;
    height: 360px;
    color: #33323D;
    width: 311px;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-left: -1px;
  }
  .intro_btn-link {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #33323D;
  }
  .intro_btn-link:hover {
    color: #fff;
  }
  .intro_btn-link:active {
    color: #33323D;
  }
  .intro_btn {
    background-color: #fff;
    border: 2px solid #203A4C;
    width: 202px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 74px;
    margin-left: -1px;
  }
  .line_2 {
    height: 1px;
    background: #33323D;
    mix-blend-mode: normal;
    width: 339px;
    margin-left: 39px;
    display: block;
    opacity: 0.15;
    margin-top: 46px;
    margin-left: -1px;
  }
  .intro_btn:hover {
    background-color: #33323D;
  }
  .intro_btn:active {
    background-color: #fff;
    border: 1px solid #33323D;
  }
}
.work_title {
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  /* or 105% */
  height: 84px;
  letter-spacing: -0.357143px;
  width: 350px;
  color: #33323D;
  margin-top: 150px;
}

.work {
  display: flex;
  justify-content: space-between;
}

.line_3 {
  height: 1px;
  background: #33323D;
  mix-blend-mode: normal;
  width: 534px;
  margin-left: 32px;
  display: block;
  opacity: 0.15;
  margin-top: 198px;
}

.work_btn {
  background-color: #fff;
  border: 2px solid #203A4C;
  width: 162px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 168px;
}

.work_btn-link {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #33323D;
}

.work_btn:hover {
  background-color: #33323D;
}

.work_btn:active {
  background-color: #fff;
  border: 1px solid #33323D;
}

.work_btn-link:hover {
  color: #fff;
}

.work_btn-link:active {
  color: #33323D;
}

@media only screen and (max-width: 992px) {
  .work_title {
    font-family: "Ibarra Real Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    /* or 105% */
    height: 84px;
    letter-spacing: -0.357143px;
    width: 350px;
    color: #33323D;
    margin-top: 150px;
  }
  .work {
    display: flex;
    justify-content: space-between;
  }
  .line_3 {
    height: 1px;
    background: #33323D;
    mix-blend-mode: normal;
    width: 113px;
    display: block;
    opacity: 0.15;
    margin-top: 198px;
  }
  .work_btn {
    background-color: #fff;
    border: 2px solid #203A4C;
    width: 142px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 168px;
    margin-right: 3px;
  }
  .work_btn-link {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #33323D;
  }
  .work_btn:hover {
    background-color: #33323D;
  }
  .work_btn:active {
    background-color: #fff;
    border: 1px solid #33323D;
  }
  .work_btn-link:hover {
    color: #fff;
  }
  .work_btn-link:active {
    color: #33323D;
  }
}
@media only screen and (max-width: 376px) {
  .work_title {
    font-family: "Ibarra Real Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    /* or 105% */
    height: 84px;
    letter-spacing: -0.357143px;
    width: 311px;
    color: #33323D;
    margin-top: 50px;
    text-align: center;
  }
  .work {
    flex-direction: column;
    justify-content: space-between;
  }
  .line_3 {
    height: 1px;
    background: #33323D;
    mix-blend-mode: normal;
    width: 113px;
    display: none;
    opacity: 0.15;
    margin-top: 8px;
  }
  .work_btn {
    background-color: #fff;
    border: 2px solid #203A4C;
    width: 142px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 68px;
    margin-left: 80px;
  }
  .work_btn-link {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #33323D;
  }
  .work_btn:hover {
    background-color: #33323D;
  }
  .work_btn:active {
    background-color: #fff;
    border: 1px solid #33323D;
  }
  .work_btn-link:hover {
    color: #fff;
  }
  .work_btn-link:active {
    color: #33323D;
  }
}
.footer {
  background-color: #33323D;
  height: 80px;
  margin-top: 150px;
}

.footer_narsalari {
  display: flex;
  align-items: center;
}

.footer_ul {
  display: flex;
  gap: 42px;
  margin-left: 49px;
}

.footer_link {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer_ul_img-link {
  display: flex;
  gap: 15px;
  margin-left: 587px;
  align-items: center;
  justify-content: space-between;
}

.footer_link:active {
  color: #5FB4A2;
}

@media screen and (max-width: 992px) {
  .footer {
    background-color: #33323D;
    height: 80px;
    margin-top: 150px;
  }
  .footer_narsalari {
    display: flex;
    align-items: center;
  }
  .footer_ul {
    display: flex;
    gap: 42px;
    margin-left: 39px;
  }
  .footer_link {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .footer_ul_img-link {
    display: flex;
    gap: 15px;
    margin-left: 147px;
    align-items: center;
    justify-content: space-between;
  }
  .footer_link:active {
    color: #5FB4A2;
  }
}
@media only screen and (max-width: 376px) {
  .footer {
    background-color: #33323D;
    height: 300px;
    margin-top: 150px;
  }
  .footer_narsalari {
    flex-direction: column;
    margin-right: 40px;
  }
  .footer_ul {
    flex-direction: column;
    text-align: center;
    gap: 42px;
    margin-left: 39px;
    margin-top: 40px;
  }
  .footer_link {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .footer_ul_img-link {
    display: flex;
    gap: 15px;
    margin-left: 30px;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
  .footer_link:active {
    color: #5FB4A2;
  }
  .footer_logo {
    margin-left: 40px;
  }
}
.portifolio_img {
  width: 550px;
  height: 500px;
}

.portifolio_img2 {
  width: 550px;
  height: 500px;
  margin-left: 105px;
}

.portifolio_img4 {
  width: 550px;
  height: 500px;
  margin-left: 105px;
}

.portifolio2 {
  margin-top: 50px;
  display: flex;
}

.portifolio3 {
  margin-top: 50px;
  display: flex;
}

.portifolio4 {
  margin-top: 50px;
  display: flex;
}

.por_line {
  height: 2px;
  background: #33323D;
  mix-blend-mode: normal;
  width: 350px;
  opacity: 0.15;
  margin-left: 125px;
  margin-bottom: 103px;
}

.portifolio {
  display: flex;
}

.por_title {
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323D;
  margin-bottom: 28px;
  margin-left: 125px;
}

.por_title2 {
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323D;
  margin-bottom: 28px;
  margin-left: 125px;
}

.por_title3 {
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323D;
  margin-bottom: 28px;
  margin-left: 125px;
}

.por_title4 {
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323D;
  margin-bottom: 28px;
  margin-left: 125px;
}

.por_p {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #33323D;
  mix-blend-mode: normal;
  opacity: 0.8;
  width: 350px;
  margin-bottom: 24px;
  margin-left: 125px;
}

.por_p2 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #33323D;
  mix-blend-mode: normal;
  opacity: 0.8;
  width: 350px;
  margin-bottom: 24px;
  margin-left: 125px;
}

.por_p3 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #33323D;
  mix-blend-mode: normal;
  opacity: 0.8;
  width: 350px;
  margin-bottom: 24px;
  margin-left: 125px;
}

.por_p4 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #33323D;
  mix-blend-mode: normal;
  opacity: 0.8;
  width: 350px;
  margin-bottom: 24px;
  margin-left: 125px;
}

.por_btn {
  border: 2px solid #203A4C;
  width: 175px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 125px;
}

.por_btn:hover {
  background-color: #33323D;
}

.por_btn:active {
  background-color: #fff;
  border: 1px solid #33323D;
}

.por_link:hover {
  color: #fff;
}

.por_link {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #33323D;
}

.por_line2 {
  height: 2px;
  background: #33323D;
  mix-blend-mode: normal;
  width: 350px;
  opacity: 0.15;
  margin-left: 125px;
  margin-top: 103px;
}

@media only screen and (max-width: 768px) {
  .portifolio_img {
    width: 339px;
    height: 324px;
  }
  .portifolio_img2 {
    width: 339px;
    height: 314px;
    margin-left: 55px;
  }
  .portifolio_img4 {
    width: 339px;
    height: 314px;
    margin-left: 55px;
  }
  .portifolio2 {
    margin-top: 50px;
    display: flex;
  }
  .portifolio3 {
    margin-top: 50px;
    display: flex;
  }
  .portifolio4 {
    margin-top: 50px;
    display: flex;
  }
  .por_line {
    height: 2px;
    background: #33323D;
    mix-blend-mode: normal;
    width: 281px;
    opacity: 0.15;
    margin-left: 69px;
    display: none;
  }
  .portifolio {
    display: flex;
  }
  .por_title {
    font-family: "Ibarra Real Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323D;
    margin-bottom: 28px;
    margin-left: 69px;
    width: 281px;
  }
  .por_title2 {
    font-family: "Ibarra Real Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323D;
    margin-bottom: 28px;
    margin-left: 69px;
    width: 281px;
  }
  .por_title4 {
    font-family: "Ibarra Real Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323D;
    margin-bottom: 28px;
    margin-left: 69px;
    width: 281px;
  }
  .por_title3 {
    font-family: "Ibarra Real Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323D;
    margin-bottom: 28px;
    margin-left: 69px;
    width: 281px;
  }
  .por_p {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #33323D;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 281px;
    margin-bottom: 24px;
    margin-left: 69px;
  }
  .por_p2 {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #33323D;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 281px;
    margin-bottom: 24px;
    margin-left: 69px;
  }
  .por_p3 {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #33323D;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 281px;
    margin-bottom: 24px;
    margin-left: 69px;
  }
  .por_p4 {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #33323D;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 281px;
    margin-bottom: 24px;
    margin-left: 69px;
  }
  .por_btn {
    border: 2px solid #203A4C;
    width: 175px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 69px;
  }
  .por_link {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #33323D;
  }
  .por_line2 {
    height: 2px;
    background: #33323D;
    mix-blend-mode: normal;
    width: 281px;
    opacity: 0.15;
    margin-left: 69px;
    margin-top: 103px;
    display: none;
  }
}
@media only screen and (max-width: 376px) {
  .portifolio_img {
    width: 339px;
    height: 324px;
  }
  .portifolio_img2 {
    width: 339px;
    height: 314px;
    margin-left: 0px;
    margin-top: 24px;
    position: relative;
    bottom: 400px;
  }
  .portifolio_img4 {
    width: 339px;
    height: 314px;
    margin-left: 0px;
    margin-top: 24px;
    position: relative;
    bottom: 400px;
  }
  .portifolio2 {
    margin-top: 50px;
    flex-direction: column;
  }
  .portifolio3 {
    margin-top: 50px;
    flex-direction: column;
  }
  .portifolio4 {
    margin-top: 50px;
    flex-direction: column;
  }
  .por_line {
    height: 2px;
    background: #33323D;
    mix-blend-mode: normal;
    width: 281px;
    opacity: 0.15;
    display: none;
  }
  .portifolio {
    display: flex;
    flex-direction: column;
  }
  .portifolio_texts2 {
    position: relative;
    top: 400px;
  }
  .portifolio_texts4 {
    position: relative;
    top: 400px;
  }
  .por_title {
    font-family: "Ibarra Real Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323D;
    margin-bottom: 28px;
    margin-left: 0px;
    width: 281px;
  }
  .por_title2 {
    font-family: "Ibarra Real Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323D;
    margin-bottom: 28px;
    margin-left: 0px;
    width: 281px;
  }
  .por_title3 {
    font-family: "Ibarra Real Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323D;
    margin-bottom: 28px;
    margin-left: 0px;
    width: 281px;
  }
  .por_title4 {
    font-family: "Ibarra Real Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323D;
    margin-bottom: 28px;
    margin-left: 0px;
    width: 281px;
  }
  .por_p {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #33323D;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 281px;
    margin-bottom: 24px;
    margin-left: 0px;
  }
  .por_p2 {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #33323D;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 281px;
    margin-bottom: 24px;
    margin-left: 0px;
  }
  .por_p3 {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #33323D;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 281px;
    margin-bottom: 24px;
    margin-left: 0px;
  }
  .por_p4 {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #33323D;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 281px;
    margin-bottom: 24px;
    margin-left: 0px;
  }
  .por_btn {
    border: 2px solid #203A4C;
    width: 175px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 69px;
  }
  .por_link {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #33323D;
  }
  .por_line2 {
    height: 2px;
    background: #33323D;
    mix-blend-mode: normal;
    width: 281px;
    opacity: 0.15;
    margin-left: 69px;
    margin-top: 103px;
    display: none;
  }
}
.con_ing_ul {
  display: flex;
  gap: 24px;
  align-items: center;
  width: 80px;
  margin-top: 24px;
  margin-bottom: 48px;
}

.con_line {
  background: #33323D;
  mix-blend-mode: normal;
  opacity: 0.15;
}

.con_title {
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323D;
}

.con_p {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #33323D;
  width: 635px;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.con_texts {
  display: flex;
  margin-top: 48px;
}

.con_img {
  position: relative;
  left: 255px;
}

.name {
  display: block;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 30px;
  /* identical to box height, or 231% */
  color: #33323D;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.inputs {
  flex-direction: column;
  position: relative;
  left: 255px;
  bottom: 50px;
}

.name_in {
  background: #33323D;
  mix-blend-mode: normal;
  opacity: 0.1;
  width: 635px;
  height: 48px;
}

.name_in:focus {
  border: 1px solid #5FB4A2;
}

.textarea {
  background: #33323D;
  mix-blend-mode: normal;
  opacity: 0.1;
  width: 635px;
  height: 96px;
  color: #000;
}

.name {
  margin-top: 54px;
}

.submit_in {
  margin-top: 24px;
  background: #203A4C;
  width: 200px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit_link {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.submit_in:hover {
  background: #5FB4A2;
}

.submit_in:active {
  background: #EAEAEB;
}

@media only screen and (max-width: 768px) {
  .con_ing_ul {
    display: flex;
    background: #000;
    align-items: center;
    width: 80px;
    margin-top: 24px;
    margin-bottom: 48px;
  }
  .con_line {
    background: #33323D;
    mix-blend-mode: normal;
    opacity: 0.15;
  }
  .con_title {
    font-family: "Ibarra Real Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323D;
  }
  .con_p {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #33323D;
    width: 695px;
    mix-blend-mode: normal;
    opacity: 0.8;
  }
  .con_texts {
    flex-direction: column;
    margin-top: 48px;
  }
  .con_img {
    position: relative;
    left: 0px;
    margin-top: 24px;
  }
  .name {
    display: block;
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 30px;
    /* identical to box height, or 231% */
    color: #33323D;
    mix-blend-mode: normal;
    opacity: 0.8;
  }
  .inputs {
    flex-direction: column;
    position: relative;
    left: 0px;
    bottom: 50px;
    margin-top: 24px;
  }
  .name_in {
    background: #33323D;
    mix-blend-mode: normal;
    opacity: 0.1;
    width: 635px;
    height: 48px;
  }
  .name_in:focus {
    border: 1px solid #5FB4A2;
  }
  .textarea {
    background: #33323D;
    mix-blend-mode: normal;
    opacity: 0.1;
    width: 635px;
    height: 96px;
    color: #000;
  }
  .name {
    margin-top: 54px;
  }
  .submit_in {
    margin-top: 24px;
    background: #203A4C;
    width: 200px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .submit_link {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .submit_in:hover {
    background: #5FB4A2;
  }
  .submit_in:active {
    background: #EAEAEB;
  }
}
@media only screen and (max-width: 376px) {
  .con_ing_ul {
    display: flex;
    background: #000;
    align-items: center;
    width: 80px;
    margin-top: 24px;
    margin-bottom: 48px;
  }
  .con_line {
    background: #33323D;
    mix-blend-mode: normal;
    opacity: 0.15;
  }
  .con_title {
    font-family: "Ibarra Real Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323D;
  }
  .con_p {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #33323D;
    width: 311px;
    mix-blend-mode: normal;
    opacity: 0.8;
  }
  .con_texts {
    flex-direction: column;
    margin-top: 48px;
  }
  .con_img {
    position: relative;
    left: 0px;
    margin-top: 24px;
  }
  .name {
    display: block;
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 30px;
    /* identical to box height, or 231% */
    color: #33323D;
    mix-blend-mode: normal;
    opacity: 0.8;
  }
  .inputs {
    flex-direction: column;
    position: relative;
    left: 0px;
    bottom: 50px;
    margin-top: 24px;
  }
  .name_in {
    background: #33323D;
    mix-blend-mode: normal;
    opacity: 0.1;
    width: 311px;
    height: 48px;
  }
  .name_in:focus {
    border: 1px solid #5FB4A2;
  }
  .textarea {
    background: #33323D;
    mix-blend-mode: normal;
    opacity: 0.1;
    width: 311px;
    height: 96px;
    color: #000;
  }
  .name {
    margin-top: 54px;
  }
  .submit_in {
    margin-top: 24px;
    background: #203A4C;
    width: 200px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .submit_link {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .submit_in:hover {
    background: #5FB4A2;
  }
  .submit_in:active {
    background: #EAEAEB;
  }
}/*# sourceMappingURL=main.css.map */